body {
    margin: 0;
    background-color: #000000;
    height: 200vh;
    color: white;
    font-family: Manrope,sans-serif;
    box-sizing: border-box;
}

h1 {
    font-size: 1.9rem;
}

.d-flex {
    display: flex;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-flex-end {
    justify-content: flex-end;
}

.align-items-center{
    align-items: center;
}

nav {
    height: 50px;
    .nav-structure {
        margin: 0 96px;
        position: fixed;
        top: 0;
        z-index: 100;
        width: 87%;
    }
}

a {
    text-decoration: none;
    color: #ffffff;
}

.text {
    font-size: .875rem;
    font-weight: 400;
    text-transform: capitalize;
    margin-left: 32px;
}

.container {
    padding: 55px 96px;
    position: fixed;
}

.my-image {
    width: 510px;
    border-radius: 20px;
}

.about-me {
    padding: 40px;
}

.heading {
    margin-top: 0;
    margin-bottom: 0;
    padding-right: .3vw;
    font-size: 32px;
    line-height: 100%;
    font-weight: 700;
}

.description {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.8em;
}

ul {
    width: 100%;
    margin-top: 0;
    margin-bottom: 30px;
    padding-top: 15px;
    padding-left: 40px;
    li {
        margin-bottom: 15px;
        font-size: 16px;
        line-height: 1.8em;
        font-weight: 500;
    }
}
$finalHeight: 105vh;
$finalWidth: $finalHeight;
$scrollBarHeight: 1px;

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.horizontal-scroll-wrapper {
    // border: 2px solid blue;
    position: absolute;
    display: block;
    top: 790px;
    left: 0;
    width: calc(#{$finalHeight} + #{$scrollBarHeight});
    max-height: $finalWidth;
    margin: 0;
    padding-top: $scrollBarHeight;
    background: #000000;
    overflow-y: auto;
    overflow-x: hidden;
    transform: rotate(-90deg) translateY(-$finalHeight);
    transform-origin: right top;
    & > div {
      display: block;
      padding: 5px;
      background: #000000;
      transform: rotate(90deg);
      transform-origin: right top;
    }
  }
  
  .squares {
    padding: 100vh 0 0 0;
    & > div {
        width: $finalHeight;
        height: $finalHeight;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    .wrapper{
        margin-right: 100px;
        .img{
            width: 450px;
            position: relative;
            .bg-image{
                width: 100%;
                height: 315px;
                background-position: 50% 50%;
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
    }
    .case-title{
        border-bottom: 1px solid #ffffff;
        padding-bottom: 12px;
    }
  }

.gradient-background {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    // z-index: 1;
    background-image: linear-gradient(
0deg
,rgba(13,13,17,.7),rgba(13,13,17,0) 50%);
}

.projects{
    padding: 175px 75px;
    height: 600vh;
    // border:1px solid red;
    background: #000000;
    position: absolute;
    top: 192.8vh;
    width: 100vw; 
    .project-wrapper {
        padding: 150px 0;
        .project-content {
            padding: 45px;
            width: 600px;
            transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
            transform-style: preserve-3d;
        }
        .project-image{
            width: 505px;
            height: 335px;
            background-size: cover;
            border-radius: 25px;
            //border: 1px solid #212121;
        }
    }
    
}

.sub-heading{
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: .5rem;
    padding-bottom: .5rem;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    font-size: .75rem;
    line-height: 1;
    font-weight: 500;
    .title{
        align-items: center;
    font-size: 1rem;
    text-transform: capitalize;
    }
}
.m-dash{
    width: 2.5rem;
    height: 1px;
    margin-right: .5rem;
    margin-left: .5rem;
    background-color: #fff;
}

.publications{
    .publications-heading{
        margin-left: 230px;
        width: 70%;
        h2{
            font-size: 32px;
            margin: 2px 0 5px 0;
            border-bottom: 1px solid white;
        }
    }
    .publications-content{
        margin-top: 70px;
        .d-flex{
            .blog{
                margin: 70px;
                img{
                    width:500px;
                    margin-bottom: 20px;
                }
                .blog-content{
                    .blog-date{
                        position: relative;
                        z-index: 1;
                        display: -webkit-box;
                        display: -webkit-flex;
                        display: -ms-flexbox;
                        display: flex;
                        padding-top: .5rem;
                        padding-bottom: .5rem;
                        -webkit-box-pack: start;
                        -webkit-justify-content: flex-start;
                        -ms-flex-pack: start;
                        justify-content: flex-start;
                        -webkit-box-align: center;
                        -webkit-align-items: center;
                        -ms-flex-align: center;
                        align-items: center;
                        color: #fff;
                        font-size: .75rem;
                        line-height: 1;
                        font-weight: 500;
                        .title{
                            align-items: center;
                            font-size: 1rem;
                            text-transform: capitalize;
                            font-weight: 300;
                        }
                    }
                        h2{
                            border-bottom: 1px solid white;
                        } 
                }
            }
        }
        
    }
}

/* Animation */

@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

.xsmall1{
    height: 1px;
}
.xsmall2{
    height: 2px;
}
.xsmall3{
    height: 3px;
}
.xsmall4{
    height: 4px;
}
.small1{
    height: 6px;
}
.small2{
    height: 8px;
}
.small3{
    height: 10px;
}
.small4{
    height: 12px;
}
.big1{
    height: 14px;
}
.big2{
    height: 16px;
}
.big3{
    height: 18px;
}
.big4{
    height: 20px;
}
.before{
    display: inline-block;
    background-color: green;
    width: 3px;
    // height: 20px;
    animation: wave 2s linear infinite;
    position: relative;
    bottom: 224px;
    left: 33px;
}
    .after{
        display: inline-block;
        background-color: green;
        width: 3px;
        // height: 20px;
        animation: wave 2s linear infinite;
        position: relative;
        bottom: 224px;
        left: 224px;
    }
    .a1 {
        animation-delay: 0s;
      }
      .a2 {
        animation-delay: .2s;
      }
      .a3 {
        animation-delay: .4s;
      }
      .a4 {
        animation-delay: .6s;
      }
      .a5 {
        animation-delay: .8s;
      }
      @keyframes wave {
        0%, 50%{
          transform: scaleY(1);
        }
        25% {
          transform: scaleY(4);
          background-color: white;
        }
      }

      .circle {
        background: #57D0E7;
        border-radius: 50%;
      }
        .small{
            width: 10px;
            height: 10px;
        }
        .medium{
            width: 15px;
            height: 15px;
        }
        .large{
            width: 20px;
            height: 20px;
        }
        .ball1{
            position: relative;
            bottom: 257px;
            left: 227px;
            animation: waveBubble1 3s infinite linear;
        }
        .ball2{
            position: relative;
            bottom: 271px;
            left: 267px;
            animation: waveBubble2 3s infinite linear;
        }
        .ball3{
            position: relative;
            bottom: 288px;
            left: 244px;
            animation: waveBubble3 3s infinite linear;
        }
        .ball4{
            position: relative;
            bottom: 281px;
            left: 240px;
            animation: waveBubble4 3s infinite linear;
        }
        @keyframes waveBubble1 {
            25% { bottom: 280px; left: 245px;}
            50% { bottom: 290px; left: 205px;}
            75% { bottom: 305px; left: 215px;}
            100% { bottom: 315px; left: 245px;}
          }
          @keyframes waveBubble2 {
            25% { bottom: 290px; left: 255px;}
            50% { bottom: 295px; left: 245px;}
            75% { bottom: 305px; left: 255px;}
            100% { bottom: 315px; left: 245px;}
          }
          @keyframes waveBubble3 {
            25% { bottom: 290px; left: 227px;}
            50% { bottom: 300px; left: 247px;}
            75% { bottom: 320px; left: 220px;}
            100% { bottom: 330px; left: 230px;}
          }
          @keyframes waveBubble4 {
            25% { bottom: 300px; left: 245px;}
            50% { bottom: 320px; left: 235px;}
            75% { bottom: 330px; left: 255px;}
            100% { bottom: 350px; left: 265px;}
          }

          .conveyorBox1{
              background-image: url('../assets/conveyor-box1.png');
              width: 40px;
              height: 40px;
              position: relative;
              bottom: 94px;
              left: 296px;
              background-size: cover;
              animation: conveyorMove1 3s infinite linear;
          }
          .conveyorBox2{
            background-image: url('../assets/conveyor-box1.png');
            width: 40px;
            height: 40px;
            position: relative;
            // bottom: 112px;
            // left: 327px;
            bottom: 133px;
            left: 296px;
            background-size: cover;
            animation: conveyorMove2 2s infinite linear;
        }
        .conveyorBox3{
            background-image: url('../assets/conveyor-box1.png');
            width: 40px;
            height: 40px;
            position: relative;
            // bottom: 132px;
            // left: 360px;
            bottom: 174px;
            left: 296px;
            background-size: cover;
            animation: conveyorMove3 1s infinite linear;
        }
        @keyframes conveyorMove1 {
            //50% { bottom: 71px; left: 327px; opacity: 0.5;}
            100% { bottom: 58px; left: 354px; opacity: 0;}
          }
          @keyframes conveyorMove2 {
            100% { bottom: 98px; left: 354px; opacity: 0;}
            //75% { bottom: 134px; left: 296px; opacity: 1;}
            //100% { bottom: 112px; left: 327px; opacity: 0;}
          }
          @keyframes conveyorMove3 {
            //100% { bottom: 174px; left: 297px; opacity: 1;}
            100% { bottom: 138px; left: 354px; opacity: 0;}
          }